<div class="jumbotron">
    <h1>NAP Demo Web API</h1>
    <p class="lead">The NAP Demo API is an MVC 5 Web API 2 implementation of a Restful API for the Demo User Accounts</p>
</div>
<div>
    <p>API Documentation Home</p>
</div>
