@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NAP Demo App</h1>
    <p class="lead">NAP Demo App is a demo application for NAP candidates to show coding skills and knownledge.</p>
    <p><a href="/UserAccount" class="btn btn-primary btn-lg">Click here to access the User Account demo. &raquo;</a></p>
</div>
<div>
    <h2>Requirements:</h2>
    <ul>
        <li>Create a SPA Angular app that utilizes all the above REST api’s</li>
    </ul>
    <h2>Features:</h2>
    <ul>
        <li>Encapsulates calls to the NAP Demo Web API in a Service class.</li>
    </ul>
    <h2>Known Issues:</h2>
    <ul>
        <li>The client is an ASP.NET MVC 5 web client, not an Angular SPA.</li>
        <li>No implementation of customer error page (ASP.NET makes that pretty easy.)</li>
        <li>No Model Data Annotations that could be used for error checking.</li>
    </ul>
</div>
