@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NAP Demo App</h1>
    <p class="lead">NAP Demo App is a demo application for NAP candidates demo coding skills and knownledge.</p>
    <p><a href="http://localhost:9000/UserAccount" class="btn btn-primary btn-lg">Click here to access the User Account demo. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requirements:</h2>
        <p>
        </p>
        <h2>Features:</h2>
        <p></p>
        <h2>Known Issues:</h2>
    </div>
</div>